textarea{
    resize: none;
}

#editlistitem{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 60%;
}

#editlistitem div{
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    font-weight: bold;
}

fieldset {
    width: 150px;
    border-radius: 10px;
    border-color: #2D3833
}

#commitchanges {
    display: flex;
    flex-direction: row;
}

#commitchanges button {
    font-size: 16px;
    border: 2px solid #2D3833;
    border-radius: 15px;
    margin-left: 65px;
    margin-right: 65px;
}

#commitchanges button:hover {
    transition-duration: 0.4s;
    color: white;
    background-color: #485951;
}
