@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: grey;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

#searchbar {
    font-size: 25px;
    width: 200px;
}

nav {
    display: flex;
    flex-direction: row;
}

/* Setting tabs within next-page box to be on the right side. */
a {
    text-align: center;
    display: block;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

a {}

/* Changing colour of tabs when hovered over. */
nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {}

h1 {
    font-size: 64px;
    color: #2D3833;
}

textarea {
    resize: none;
}

#editaccount {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 2.5%;
}

#editaccount div {
    margin-top: 15px;
    margin-bottom: 15px
}

fieldset {
    width: 45%;
    border-radius: 10px;
    border-color: #2D3833
}

#commitchanges {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#commitchanges button {
    font-size: 16px;
    border: 2px solid #2D3833;
    border-radius: 15px;
}

#commitchanges button:hover {
    transition-duration: 0.4s;
    color: white;
    background-color: #485951;
}

#delete {
    margin-left: auto;
}
