textarea {
    resize: none;
}

#editaccount {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 5%;
}

#editaccount div {
    margin-top: 30px;
    margin-bottom: 15px
}

fieldset {
    width: 45%;
    border-radius: 10px;
    border-color: #2D3833
}

#commitchanges {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#commitchanges button {
    font-size: 16px;
    border: 2px solid #2D3833;
    border-radius: 15px;
}

#commitchanges button:hover {
    transition-duration: 0.4s;
    color: white;
    background-color: #485951;
}

#delete {
    margin-left: auto;
}

legend, label{
    font-weight: bold;
}
